<div *ngIf="selectedLabProblem">
  <h2>
    {{selectedLabProblem.description | uppercase}} was selected
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<h2>Lab problems list</h2>
<div class="container">

  <table class="table labProblems">
    <thead>
    <tr>
      <th (click)="sortByNumeric('id')">ID</th>
      <th (click)="sortByNumeric('problemNumber')">Problem number</th>
      <th (click)="sortBy('description')">Description</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let labProblem of labProblems | labProblemFilter:searchTerm"
        [class.selected]="labProblem === selectedLabProblem"
        (click)="onSelect(labProblem)">
      <td>{{labProblem.id}}</td>
      <td>{{labProblem.problemNumber}}</td>
      <td>Description: {{labProblem.description}}</td>
      <td>
        <button
          [class.delete]="true"
          (click)="deleteLabProblem(labProblem);$event.stopPropagation()">delete
        </button>
      </td>

    </tr>
    </tbody>
  </table>

  <ul class="nav nav-pills">
    <li class="nav-item" *ngFor="let p of pages; let i = index">
      <a class="nav-link" href="" (click)="setPage(i,$event)">{{i}}</a>
    </li>
  </ul>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search By Description" style="width: 300px"
           [(ngModel)]="searchTerm"/>
  </div>

</div>
