<div *ngIf="student" class="container">

  <form [formGroup]="studentForm">
    <div class="form-group">
      <label>Name</label> {{student.name}}
      <input [(ngModel)]="student.name" type="text" formControlName="name" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && getStudentForm.name.errors }"/>
      <div *ngIf="submitted && getStudentForm.name.errors" class="invalid-feedback">
        <div *ngIf="getStudentForm.name.errors.required">Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <label>Serial number</label> {{student.serialNumber}}
      <input [(ngModel)]="student.serialNumber" type="text" formControlName="serialNumber" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && getStudentForm.serialNumber.errors }"/>
      <div *ngIf="submitted && getStudentForm.serialNumber.errors" class="invalid-feedback">
        <div *ngIf="getStudentForm.serialNumber.errors.required">Serial number is required</div>
        <div *ngIf="getStudentForm.serialNumber.errors.pattern">Serial number can only contain numbers and digits</div>
      </div>
    </div>
    <div class="form-group">
      <label>Group number</label> {{student.groupNumber}}
      <input [(ngModel)]="student.groupNumber" type="number" formControlName="groupNumber" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && getStudentForm.groupNumber.errors }"/>
      <div *ngIf="submitted && getStudentForm.groupNumber.errors" class="invalid-feedback">
        <div *ngIf="getStudentForm.groupNumber.errors.required">Group number is required</div>
        <div *ngIf="getStudentForm.groupNumber.errors.min">Group number must be at least 0</div>
        <div *ngIf="getStudentForm.groupNumber.errors.pattern">Group number must be a positive integer</div>
      </div>
    </div>

    <div class="form-group">
      <button (click)="goBack()">Back</button>
      <button (click)="save()">Save</button>
    </div>
  </form>
</div>
