<div *ngIf="selectedLabProblem">
  <h2>
    {{selectedLabProblem.description | uppercase}} was selected
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>

<h2>Students list</h2>
<div class="container">
  <ol class="students">
    <li *ngFor="let labproblem of labProblems"
        [class.selected]="labproblem === selectedLabProblem"
        (click)="onSelect(labproblem)">
      ID:{{labproblem.id}}
      {{labproblem.description}}
      <button
        [class.delete]="true"
        (click)="deleteLabProblem(labproblem);$event.stopPropagation()">delete
      </button>
    </li>
  </ol>
  <hr>
  <input #sortString type="text">
  <button (click)="getLabProblemsSorted(sortString.value)">Sort</button>
  <hr>
  {{this.errorMessage}}
</div>
